# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.vscode
build
build_*
cmake-build-*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
compile_commands.json

# CPM
CPM_modules/
_deps/
cpm-package-lock.cmake
_build/
.cache/

*.gcov
*.gcda
*.gcno
coverage.info
coverage_html/
assets/
build/
build-nofakelua/
.trae/
.workbuddy/
